<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="storage"></clr-icon>
        <span class="title">My Apps</span>
      </a>
    </div>
    <div class="header-nav">
      <a class=" nav-link nav-icon" routerLink='/admin/main' routerLinkActive='active'>
        <clr-icon shape="user"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/apartment' routerLinkActive='active'>
        <clr-icon shape="building"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/generice-medicine' routerLinkActive='active'>
        <clr-icon shape="tools"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/generice-medicine-supplier' routerLinkActive='active'>
        <clr-icon shape="shopping-cart"></clr-icon>
      </a>
      <a class=" nav-link nav-icon" routerLink='/admin/packages' routerLinkActive='active'>
        <clr-icon shape="archive"></clr-icon>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-text" clrDropdownToggle>
          {{ fullname }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a href="javascript://" clrDropdownItem>Preferences</a>
          <a (click)="logout()" clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
          Normal
      </a>
      <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
          Electric
      </a>
      <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
          Poison
      </a>
      <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
          Grass
      </a>
      <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
          Fighting
      </a>
      <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
          Credit
      </a>
  </clr-vertical-nav>
  </div>

</clr-main-container>