<form *ngIf="apartment">
<section class="form-block">
    <label>Apartment Detail</label>
    <div class="form-group row">
        <div class="col-lg-1">
            <label for="apartId">ID</label>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="text" id="apartId" name="apartId" size="45" disabled [(ngModel)]="apartment.id">
        </div>
        <div class="col-lg-1">
            <label for="price">Price</label>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="text" id="price" name="price" [disabled]="!editing" [(ngModel)]="apartment.price">
        </div>
        <div class="col-lg-1">
            <label for="area">Area</label>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="text" id="area" name="area" [disabled]="!editing" [(ngModel)]="apartment.area">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-1 ">
            <label for="street">Street</label>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="text" id="street" name="street" [disabled]="!editing" [(ngModel)]="apartment.street">            
        </div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="!editing" (click)="setEditing(true)" >Edit</button>
    <button type="button" class="btn btn-primary" *ngIf="editing" (click)="update()">Update</button>
    <button type="button" class="btn" *ngIf="editing" (click)="cancelEdit()">Cancel</button> 
</section>
</form>