<form #apartmentQueryForm="ngForm" (ngSubmit)="search()">
  <section class="form-block">
      <label>Search Filters</label>
      <div class="form-group row">
        <div class="col-lg-1">
          <label for="apartId">ID</label>
        </div>
        <div class="col-lg-2">
          <input class="form-control" type="text" id="apartId" name="apartId" placeholder="Apartment ID" [(ngModel)]="query.id">
        </div>
        <div class="col-lg-1">
          <label for="priceMin">Price Min</label>
        </div>
        <div class="col-lg-2">
          <input class="from-control" type="text" id="priceMin" name="priceMin" placeholder="Price Min" [(ngModel)]="query.priceMin">
        </div>
        <div class="col-lg-1">
          <label for="priceMax">Price Max</label>
        </div>
        <div class="col-lg-2">
          <input type="text" class="form-control" id="priceMax" name="priceMax" placeholder="Price Max" [(ngModel)]="query.priceMax">
        </div>
      </div> 
      <!-- end of first row -->
      <div class="form-group row">
        <div class="col-lg-1">
          <label for="areaMin">Area Min</label>
        </div>
        <div class="col-lg-2">
          <input type="text" class="form-control" id="areaMin" name="areaMin" placeholder="Area Min" [(ngModel)]="query.areaMin">
        </div>
        <div class="col-lg-1">
          <label for="areaMax">Area Max</label>
        </div>
        <div class="col-lg-2">
          <input type="text" class="form-control" id="areaMax" name="areaMax" placeholder="Area Max" [(ngModel)]="query.areaMax">
        </div>
      </div>
      <button type="submit" class="btn">Search</button>        
  </section>
</form>
<div style="border-top-width: 1px; border-top-style:solid; border-top-color: #CCCC">    
    <clr-dg-action-bar>      
        <div class="btn-group">
            <button class="btn" (click)="goDetail()" [disabled]="!selectedApartment">Detail</button>  
            <button class="btn" [disabled]="!selectedApartment" >Edit</button> 
            <button class="btn">Add</button> 
            <button class="btn">Export</button>  
        </div>
    </clr-dg-action-bar>
      
      <clr-datagrid>
          <clr-dg-column>Apartment ID</clr-dg-column>
          <clr-dg-column>Address</clr-dg-column>
          <clr-dg-column>Area</clr-dg-column>
          <clr-dg-column>Price</clr-dg-column> 
          <clr-dg-row *ngFor="let apartment of apartments" 
              (click)="onSelect(apartment)"
              [class.datagrid-selected]="apartment === selectedApartment">
            <clr-dg-cell>{{apartment.id}}</clr-dg-cell>
            <clr-dg-cell>{{apartment.street}} {{apartment.streetNo}}</clr-dg-cell>
            <clr-dg-cell>{{apartment.area}}</clr-dg-cell>
            <clr-dg-cell>{{apartment.price}}</clr-dg-cell>      
          </clr-dg-row>
          <clr-dg-footer>{{apartments.length}} apartments</clr-dg-footer>
      </clr-datagrid>
      
    </div>

